.main-content {
    margin: 10px;
}

.main-title {
    margin: 10px;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group {
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.button-group {
    margin: 10px;
}

.label {
    display: block;
}

.input {
    width: 300px;
}

.thumbnail {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    object-fit: cover;
}

.card-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    object-fit: cover;
}

.search-area {
    margin: 10px;
    gap: 10px;
    display: flex;
}

.form-control {
    flex: 1;
}

#error-image { 
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}